@media only screen and (max-width: 767px) {
    
    header {
        z-index: 1000;
        position: sticky;
        width: 100vw;
        height: 60px;
        top: 0;
        left: 0;
    }

    nav ul li img {
        width: 91px;
        height: 63px;
    }
    nav {
        height: 100%;
        display: flex;
        padding-inline: 13px;
        justify-content: space-between;
    }

    .logo{
        width: 100px;
    }
    .location-logo{
        display: block;
    }
    .location{
        display: none;
    }

    nav ul .search-bar{
        display: none;
    }
    .login{
        display: none;
    }

    .logo-l {
        gap: 10px;
    }

    nav ul {
        gap: 49px;
        display: flex;
        align-items: center;
    }
    .search {
        font-size: 19px;
    
        
        position: static;
    }

    .search-logo{
        display: block !important;
    }
    .profile{
        gap: 15px;
        display: flex;
        justify-content: space-between;
    }

    .btn {
        font-size: 9px;
        font-weight: 400;
        gap: 6px;
        border: none;
        background-color: rgb(12, 131, 31);
        border-radius: 8px;
        cursor: pointer;
        height: 29px;
        width: 90px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        color: white;
    }

    .f-container {
        flex-direction: row;
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .list{
        display: none !important;
    }

    .item-list {
        max-width: 100%;
        overflow: auto hidden;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        padding-bottom: 20px;
        column-gap: 8px;
        /* margin-left: 12px; */
        /* margin-right: 12px; */
    }
    .item-card .img img {
        height: 124px;
        width: 128px;
        cursor: default;
        border-radius: 0px;
    }
    main .grosery-list img {
        width: 24.9vw;
    }

    main .grosery-list {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
    }

    .banner  .banner-list {
        gap: 7px;
        overflow: scroll;
        display: flex;
        align-items: flex-start;
    }

    .banner  .banner-list img {
        width: 46vw;
    }

    .category {
        margin-top: 9px;
        margin-bottom: 9px;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
    }

    .category h2 {
        font-size: 16px;
    }

    .item-card {
        /* height: 39vh; */
        width: 34.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem;
        gap: 0.125rem;
        position: relative;
        cursor: pointer;
        background: rgb(255, 255, 255);
        border: 0.5px solid rgb(232, 232, 232);
        box-shadow: rgba(0, 0, 0, 0.04) 25px 35px 64px;
        border-radius: 8px;
    }
    .f-bottom {
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .copy {
        display: flex;
        align-items: start;
        gap: 30px;
        flex-wrap: wrap;
    }

    .copy img {
        width: 63px;
    }
    .copy p, .copy  h3 {
        font-size: 7px;
    }
    .social svg ,  .social img {
        width: 17px;
    }

    .f-bottom .social {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .f-bottom .social img{
        
            width: 17px;
        
    }
    .playstore img{
        border-radius: 0px;
        width: 60px !important;
    }
}